.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__content {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__close-button {
  background: transparent no-repeat center
    url(../../assets/images/close_icon.svg);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 28px;
  height: 16px;
  width: 16px;
  border: none;
  padding: 0;
}
