.header {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  line-height: 1.2;
  background-color: aliceblue;
  height: 40px;
}

.header__info {
  display: flex;
  gap: 24px;
}

.header__date {
  margin: 11px 0 4px;
}

.header__user {
  display: flex;
}

.header__add-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 8px 0;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
}

.header__username {
  margin: 8px 12px 8px 20px;
}

.header__avatar {
  height: 40px;
  width: 40px;
}
