.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.2;
  height: 40px;
  min-width: 100%;
  margin-bottom: 28px;
}

.header__info {
  display: flex;
  gap: 24px;
}

.header__date {
  margin: 11px 0 4px;
}

.header__interaction {
  display: flex;
  align-items: center;
}

.header__user {
  display: flex;
}

.header__add-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 8px 0 8px 20px;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
}

.header__username {
  margin: 8px 12px 8px 20px;
}

.header__avatar {
  height: 40px;
  width: 40px;
}

.header__menu_modal-button {
  cursor: pointer;
  background: white no-repeat center url(../../assets/menu_icon.svg);
  height: 44px;
  width: 44px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 18px;
  right: 16px;
  padding: 0;
  visibility: hidden;
}

.header__switch {
  margin: auto 20px auto 0;
}

@media screen and (max-width: 766px) {
  .header {
    height: 100px;
    margin-bottom: 16px;
  }

  .header__info {
    display: inline;
  }

  .header__date {
    margin-top: 32px;
  }

  .header__interaction {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
  }

  .header__menu_modal-button {
    visibility: visible;
  }
}
