.modal__button_type_register {
  position: absolute;
  left: 113px;
  bottom: 44px;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  width: fit fit-content;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.modal__button_type_register:hover {
  color: rgba(0, 0, 0, 1);
}
