.modal__content_type_form {
  padding: 28px 28px 36px;
  max-height: 436px;
  max-width: 496px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}

.modal__error {
  color: rgba(225, 77, 0, 1);
}

.modal__validation {
  position: absolute;
  left: 52px;
  visibility: hidden;
}

.modal__validation_visible {
  visibility: visible;
}

.modal__input {
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-color: inherit;
  height: 24px;
  margin-top: 8px;
  padding: 0;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  gap: 8px;
  margin: 0 0 32px;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label_radio {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.modal__label_radio:hover {
  color: rgba(0, 0, 0, 1);
}

.modal__input_radio {
  accent-color: rgba(0, 0, 0, 1);
  margin: 0 8px 0 0;
  height: 13px;
}

.modal__input_radio:checked + .modal__label_span {
  color: rgba(0, 0, 0, 1);
}

.modal__submit-button {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  height: 36px;
  width: 124px;
  padding: 0;
  border: none;
  border-radius: 4px;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  .modal__content_type_form {
    align-self: flex-end;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 32px 16px;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.1);
    max-height: 455px;
  }

  .modal__close-button_type_form {
    height: 21px;
    width: 21px;
    background: transparent no-repeat center url(../assets/close_icon_black.svg);
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 37px;
  }

  .modal__radio-buttons {
    margin-bottom: 30px;
  }

  .modal__submit-button {
    width: 100%;
    height: 44px;
  }
}
