@import url(./vendor/normalize.css);
@import url(./assets/fonts/fonts.css);

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
